@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Quicksand, 'Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Kanit';
  font-weight: 600;
}

p {
  font-family: 'Quicksand';
  font-weight: 400;
}